<!-- to render collection of events -->

<div class="ml-3 mb-3" id="comment-<%= comment.id.to_s %>">

  <span>
    <strong>
      <%= link_to comment.account.name, account_path(comment.account), class: "no-text-decoration normal-color" %>:
    </strong>
  </span>
  <span><%= comment.content %></span>

  <!-- show delete icon for commented user or the owner of the post -->
  <% if (comment.account == current_account) || ( @post.is_belongs_to? current_account) %>
  <%= link_to " ", comment_path(comment),  method: :delete, remote: true, class: "mx-3 far fa-trash-alt fa-1x nounderline float-right" %>
  <% end %>

  <!-- comment reply icon  -->
  <a  class=" show-form  ml-3  fa fa-reply float-right nounderline hide-text" aria-hidden="true"></a>
  <!-- edit comment icon -->
  <a  class=" show-edit-form  fa fa-pencil-square-o float-right nounderline hide-text" aria-hidden="true"></a>


  <!-- comment reply form -->
  <div class=" my-3   hide-form " id="comment-form-post-<%= @post.id.to_s %>">
    <%= render 'comments/comment_form',    parent: comment.id %>
  </div>


  <!-- comment edit form -->
  <div class=" my-3   hide-form " id="comment-form-post-<%= @post.id.to_s %>">
    <%= render 'comments/comment_edit_form',  id: comment.id %>
  </div>


</div>



<div class="ml-3 mb-3">
  <%= render  comment.comments %>
</div>


