<div class="row  justify-content-center mb-2">
  <div class="col-md-8 col-lg-6">

    <!-- form   -->
    <div class="card mb-3">
      <div class="card-header">
        Add to Story
      </div>
      <div class="card-body ">
        <%= form_for @story do |f| %>

          <div class=" row   align-items-center  ">
            <div class="col  ">
              <%= image_tag current_account.image.url(:thumbnail),  class: "mr-3 profile_pic rounded-circle"%>
              <%=  current_account.name %>
            </div>
          </div>

          <div class="form-group">
            <% f.label :image %><br />
            <%= f.file_field :image , class: "form-control" %>
            <%= f.hidden_field :image_cache %>
          </div>

          <%= f.submit "Add Story", class: "btn btn-primary" %>

        <% end %>
      </div>
    </div> 
    <hr >
  </div>
</div>



<!-- All stories -->
<% @stories.each do |story| %>
    <%= render 'story', story: story  %>
<% end %>
