<% @posts.each do |post| %>
  <div class="card mt-3 post ">

    <!-- header -->
    <div class="card-header d-flex align-items-center">
      <%= link_to account_path(post.account), class: "no-text-decoration" do %>
        <%= image_tag post.account.image.url(:thumbnail),  class: "profile_pic rounded-circle"%>
      <% end %>

      <%= link_to account_path(post.account), class: "lead ml-2", title: post.account.name do %>
        <strong><%= post.account.name %></strong>
      <% end %>

      <% if post.is_belongs_to? current_account %>
        <!-- this will call posts#destroy action on click -->
        <%= link_to post_path(post), method: :delete , class: "ml-auto delete-post-icon mx-0 my-auto" do %>
          <i class="far fa-trash-alt fa-2x text-danger" aria-hidden="true"></i>
        <% end %>
      <% end %>

    </div>

    <!-- photos -->
    <%= render "photos", {post: post} %>
    <!-- photos_end -->


    <!-- footer -->
    <div class="card-body h5">
      <!-- like icon -->
        <div id="like-icon-post-<%= post.id.to_s %>">
          <%= render "like_icon", {is_liked: post.is_liked(current_account), post: post} %>
        </div>

      <!-- show count of likes icon -->
      <div id="like-text-post-<%= post.id.to_s %>">
        <%= render "like_text", {likes: post.likes} %>
      </div>
      <br>

      <div>
        <span><strong><%= post.account.name %></strong></span>
        <span><%= post.content %></span>
      </div>

      <%= link_to time_ago_in_words(post.created_at)  + " ago", post_path(post),  class: " " %>
      <hr>

    </div>

  </div>
<% end %>

