<div class="row">
  <div class="col-sm-12 col-md-8 post-card">


    <div class="card">
      <div class="card-header">
        Edit Post
      </div>
      <div class="card-body">

        <div class=" row mt-2 align-items-center mb-4">
          <div class="col-md-4 pr-0">
            <%= link_to profile_path(@post.account), class: "mr-1  " do %>
              <%= image_tag current_account.image.url(:thumbnail),  class: "profile_pic rounded-circle"%>
            <% end %>

            <%= link_to profile_path(@post.account), class: "lead ml-2", title: current_account.name do %>
              <strong><%= @post.account.name %></strong>
            <% end %>
          </div>
        </div>


        <%= form_for @post, html: { class: "dropzone upload-images p-0 border-0"} do |f| %>

          <% if @post.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>
            <ul>
              <% post.errors.full_messages.each do |message| %>
              <li><%= message %></li>
              <% end %>
            </ul>
          </div>
          <% end %>


          <div class="pl-0 mb-3 ">
            <%= f.text_area :content, class: "form-control form-group-lg",   placeholder: "say something about this ..." %>
          </div>

          <div class="fallback">
            <%= f.file_field "images[]", type: :file, multiple: true %>
          </div>
          <div class="dz-message m-0"></div>
          <div class="dropzone-previews mb-3">
            <div class="upload-photos-icon">
              <i class="fa fa-plus fa-2x" aria-hidden="true" style="color:#dddfe2"></i>
            </div>
          </div>

          <div>
            <%= f.check_box :active %>
            <%= f.label :active, "public" %>
          </div>


          <%= f.submit "Update Post", id:"update_post" , class: "btn btn-primary" %>
        <% end %>

      </div>
    </div>
    <br>


    <% @post.photos.each do |photo| %>
      <div id="photo-<%= photo.id %>" class="alert alert-warning alert-dismissible fade show" >

        <%= image_tag photo.image.url(:standard), style: 'height:100px;width:100px;',  class: " " %>
        <%= link_to photo_path(photo) , method: :delete ,data: { confirm: 'Are you sure?' }, remote: true, class: "close nounderline mx-2" do %>
            <span aria-hidden="true">&times;</span>
        <% end %>
      </div>
      <br>
    <% end %>

  </div>
</div>

