<div class="row">
  <div class="col-sm-12 col-md-8 post-card">

    <!-- image upload box -->
    <div class="card">
      <div class="card-header">
        Create Post
      </div>
      <div class="card-body">
        <div class=" row mt-2 align-items-center mb-4">

          <div class="col-md-4 pr-0">
            <%= link_to account_path(current_account), class: "mr-1  " do %>
              <%= image_tag current_account.image.url(:thumbnail),  class: "profile_pic rounded-circle"%>
            <% end %>

            <%= link_to account_path(current_account), class: "lead ml-2", title: current_account.name do %>
              <strong><%= current_account.name %></strong>
            <% end %>

          </div>

        </div>
        <!-- post form -->
        <%= form_for @post, :html => {:multipart => true, :class => "dropzone upload-images p-0 border-0"} do |f| %>

          <!-- <p>errors</p> -->
          <% if @post.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

            <ul>
              <% post.errors.full_messages.each do |message| %>
              <li><%= message %></li>
              <% end %>
            </ul>
          </div>
          <% end %>

          <!-- content field -->
          <div class="pl-0 mb-3">
            <%= f.text_area :content, class: "form-control form-group-lg",   placeholder: "say something ..." %>
          </div>

          <!-- dropzone image upload box -->
          <div class="fallback">
            <%= f.file_field "images[]", type: :file, multiple: true %>
          </div>
          <div class="dz-message m-0"></div>
          <div class="dropzone-previews mb-3">
            <div class="upload-photos-icon">
              <i class="fa fa-plus fa-2x" aria-hidden="true" style="color:#dddfe2"></i>
            </div>
          </div>

          <div>
            <%= f.check_box :active %>
            <%= f.label :active, "active" %>
          </div>

          <!-- submit button -->
          <%= f.submit "Post", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
    <!-- post form end -->


    <!-- display all post start -->
    <%= render 'posts' %>

  </div>

</div>

<!--
<%= form_for @post, :html => {:multipart => true } do |f| %>
 <%= f.label :content, class: "control-label" %>
 <%= f.text_field :content, class: "text_field" %>

 <%= file_field_tag "images[]", type: :file, multiple: true  %>

  <%= f.submit "Create Post", class: "btn btn-primary" %>
<% end %> -->


<!--

<% @posts.each do |post|%>
<p><% post.content %></p>
<% post.photos.each do |photo|%>
<%= image_tag photo.image.url(:standard)%>
<% end %>
<% end %> -->

