<div class="card mt-3 post">

  <!-- header -->
  <div class="card-header d-flex align-items-center">
    <%= link_to account_path(@post.account), class: "no-text-decoration" do %>
      <%= image_tag @post.account.image.url(:thumbnail),  class: "profile_pic rounded-circle"%>
    <% end %>

    <%= link_to account_path(@post.account), class: " lead ml-3", title: @post.account.name do %>
      <strong><%= @post.account.name %></strong>
    <% end %>

    <% if @post.is_belongs_to? current_account %>
        <!-- this will call posts#destroy action on click -->
        <%= link_to post_path(@post), method: :delete, class: "ml-auto delete-post-icon mx-0 my-auto" do %>
          <i class="far fa-trash-alt fa-2x text-danger" aria-hidden="true"></i>
        <% end %>
      <% end %>

  </div>

  <!-- photos -->
  <%= render "photos", {post: @post} %>


   <!-- footer card-->
  <div class="card-body h5">

    <!-- like icon -->
    <div id="like-icon-post-<%= @post.id.to_s %>">
      <%= render "like_icon", {is_liked: @post.is_liked(current_account), post: @post} %>
    </div>
    <br>

    <!-- show count of likes   -->
    <div id="like-text-post-<%= @post.id.to_s %>">
      <%= render "like_text", {likes: @post.likes} %>
    </div>
    <br>

    <!-- account + post content -->
    <div>
      <span><strong class=" "><%= @post.account.name %></strong></span>
      <span><%= @post.content %></span>
    </div>
    <br>
    <%=  time_ago_in_words(@post.created_at)  + " ago"   %>
    <hr>

    <!-- comment form -->
    <div class=" mb-5  " id="comment-form-post-<%= @post.id.to_s %>">
      <%= render 'comment_form', post: @post %>
    </div>

    <!-- load comments list -->
    <div class="" id="comment-post-<%= @post.id.to_s %>">
      <%= render 'comment_list', post: @post %>
    </div>

  </div>
  <!-- end footer -->
<div class="mb-5"></div>
<div class="mb-5"></div>
<div class="mb-5"></div>
<div class="mb-5"></div>

</div>
