<!DOCTYPE html>
<html>

<head>
  <title>InstagramClone</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <!-- <script src="https://kit.fontawesome.com/bb410f7848.js" crossorigin="anonymous"></script> -->
</head>

<body>
  <!-- <p><i class="fa-solid fa-user"></i></p> -->
  <%= render "shared/navbar" %>

  <br>
  <div class="container ">

    <% if notice %>
      <%= render 'shared/notice' %>
    <% end %>

    <% if flash[:alert] %>
      <%= render 'shared/alerts' %>
    <% end %>

    <%= yield %>

  </div>


</body>

</html>
