<div class="row">
  <div class="col-md-4">
    <%= image_tag @account.image.url(:standard), class: "img-thumbnail "%>
  </div>
  <div class="col-md-8">
    <div class="mb-2">
      <span class="h3 mr-3 "><%= @account.name %></span>

      <% if @account != current_account %>
          <span id="follow-btn">
            <%= render 'follow_button'  %>
          </span>
      <% end %>

    </div>
     <br>

    <!-- show followers count -->
    <span id="follower-count">
      <%= render 'follower_count'  %>
    </span>

    <!-- show following count  -->
    <span class="h4">Following: <%= @account.followees.count %> </span>

    <h4><%= @account.email %></h4>
    <h4><%= @account.bio %></h4>
    <h4><%= @account.website %></h4>
  </div>
</div>


<br>
