<div class="row">
  <div class="col-md-4">
    <%= image_tag @account.image.url(:standard), class: "img-thumbnail "%>
  </div>
  <div class="col-md-8">
    <span class="h3 mr-3"><%= @account.name %></span>

    <% if @account != current_account %>
        <span id="follow-btn">
          <%= render 'follow_button'  %>
        </span>
        <br>
    <% else %>
     <br>
    <% end %>


    <!-- show followers count -->
    <span id="follower-count">
      <%= render 'follower_count'  %>
    </span>

    <!-- show following count  -->
    <span class="h3">Following: <%= @account.followees.count %> </span>

    <h3><%= @account.email %></h3>
    <h3><%= @account.bio %></h3>
    <h3><%= @account.website %></h3>
  </div>
</div>


<br>
